:root {
    /* Colors */
    
    /* Primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Button-hover: hsl(157, 46%, 17%);

    /* Neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    /* Font family */
    --fm-montserrat: 'Montserrat', sans-serif;
    --fm-fraunces: 'Fraunces', sans-serif;

    /* Font size */
    --fs-pre-header: 0.8125rem;
    --fs-title: 2.1875rem;
    --fs-paragraph: 0.9375rem;
    --fs-price: 2.1875rem;
    --fs-price-off: 0.8125rem;
    --fs-button: 0.9375rem;


}

.container {
    padding: 1.5625rem;
}

/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    font-family: var(--fm-montserrat);
    max-height: 100vh;
    background-color: var(--Cream);
}

@media (max-height: 600px) and (max-width: 800px) {
    body {
        display: block;
    }
}

main {
    border-radius: 10px;
    background-color: var(--White);
    overflow: hidden;
}

@media (min-width: 50rem) {
    main {
        display: flex;
        max-width: 37.5rem;
        height: 28.125rem;
    }
}

/* Product image */
#product-img {
    background-image: url('images/image-product-mobile.jpg');
    background-size: cover;
    width: 100%;
    height: 15rem;
}

@media (min-width: 50rem) {
    #product-img {
        background-image: url('images/image-product-desktop.jpg');
        max-width: 50%;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
}

/* Product Description */
@media (min-width: 50rem) {
    #product-description {
        max-width: 50%;
    }
    #product-description.container {
        padding: 23px 30px;
    }
}

#product-description .pre-header {
    font-weight: 500;
    font-size: var(--fs-pre-header);
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
    color: var(--Dark-grayish-blue);
}

#product-description .title {
    font-family: var(--fm-fraunces);
    font-size: var(--fs-title);
    line-height: 1.05;
    margin: 0.9375rem 0;
    color: var(--Very-dark-blue);
}

@media (min-width: 50rem) {
    #product-description .title {
        margin: 1.25rem 0;
    }
}

#product-description .paragraph {
    font-size: var(--fs-paragraph);
    color: var(--Dark-grayish-blue);
    margin-bottom: 1.25rem;
    line-height: 1.6;
}

@media (min-width: 50rem) {
    #product-description .paragraph {
        margin-bottom: 1.4375rem;
    }
}

#product-description .price-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 0.875rem;
}

@media (min-width: 50rem) {
    #product-description .price-container {
        margin-bottom: 1.125rem;
    }
}

#product-description .price {
    display: inline;
    font-family: var(--fm-fraunces);
    font-size: var(--fs-price);
    font-weight: 700;
    color: var(--Dark-cyan)
}

#product-description .price-off {
    font-size: var(--fs-price-off);
    text-decoration: line-through;
    color: var(--Dark-grayish-blue)
}

#product-description .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    min-width: 100%;
    height: 2.8125rem;
    border-radius: 0.625rem;
    font-weight: 700;
    font-size: var(--fs-button);
    text-decoration: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    transition: background-color 0.2s;
    cursor: pointer;
}

#product-description .button:hover {
    background-color: var(--Button-hover);
}

















/* attribution */
    .attribution {
        display: none;
    }
@media (min-width: 50rem) {
    .attribution { 
        display: block; 
        font-size: 0.6875rem; 
        text-align: center; 
        position: absolute; 
        bottom: 0;
    }
    .attribution a { color: var(--Dark-cyan); }
}
